.movie-card {
  height: 500px;
  background: lightblue;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 0 2px 2px black;
  border-radius: 5px;

  h1 {
    font-size: 1.5em;
    margin: 0 0 5px 0;
    text-decoration: underline;
  }

  img {
    height: 75%;
    width: 100%;
    align-self: center;
  }

  div {
    text-align: center;
    // margin: 0;

    h2 {
      font-size: .75em;
      margin: 0 0 2px 0;
      color: rgba(0,0,0, .5);
      font-style: italic;
    }

    p {
      margin: 0 0 5px 0;
    }
  }
}
