.single-movie-dashboard {
  margin-top: 8vh;
  display: flex;
  color: white;
  text-align: center;

  span {
    width: 15vw;
    height: 92vh;
  }

  .side-left {
    @include curtains(right);
  }

  .side-right {
    @include curtains(left);
  }

  img {
    margin-top: 1em;
    width: 65vw;
  }

  h1 {
    margin: 0;
    font-weight: bolder;
  }

  div {
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  p {
    margin: .1em 0 0 0;
    font-size: 1.1em;
  }

  h2 {
    margin-bottom: .1vh;
    font-size: 1em;
  }

  .details-wrapper {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0;

    p {
      font-size: .8em;
      margin-bottom: 1em;
    }
  }

  .single-movie-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2vh;
  }
}
