//  Mobile Devices

// Tablet

@media only screen and (max-width: 768px) {

  .header {
    height: 90vh;
    color: black;

    .logo {

      div {
        height: 40px;
        width: 40px;
      }
    }

  }
}
// Large Mobile
// @media only screen and (max-width: )


// Mobile
