//  Mobile Devices

// Tablet

@media only screen and (max-width: 540px) {

  .header {
    justify-content: space-around;

    .logo {
      h1 {
        font-size: 1em;
        margin: 0 auto 1em auto;
      }
    }
    .header-search-bar {
      input {
        width: 25vw;
      }
    }
  }

  .single-movie-dashboard {
    flex-direction: column;
    
    span {
      display: none;
    }
  }

}
// Large Mobile
// @media only screen and (max-width: )


// Mobile
