.movie-trailer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

.button-container {
  display: flex;
  justify-content: space-around;
  width: 75vw;
  margin-top: 3vh;
}

.movie-trailer-container {
  height: calc(75vw * .5625);
  width: 75vw;
  padding-top: 28.125;
  padding-bottom: 28.125;
}
