.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: lightgrey;
  margin-bottom: 2em;
  box-shadow: 1px 0 4px 1px black;

  h1 {

  }

  div {

  }
}
