.header {
  display: grid;
  grid-template-columns: .25fr .5fr .25fr;
  position: fixed;
  top: 0;
  height: 8vh;
  width: 100vw;
  align-items: center;
  background: linear-gradient($curtain-red, $curtain-dark);
  box-shadow: 1px 0 4px 1px black;
  color: white;

  .logo {
    display: flex;
    justify-content: center;
    margin: 0 0 1em 0;

    h1 {
      align-self: flex-end;
      width: auto;
      font-size: 1.25em;
      margin-bottom: .5em;
      @include logoFont();
      text-shadow: 1px 1px black,
                   2px 2px black,
                   3px 3px black,
                   4px 4px black,
      ;
    }

    div {
      background: url('./reel-logo.png');
      background-size: contain;
      background-repeat: no-repeat;
      height: 70px;
      width: 70px;
    }

  }
}
